.start-btn {
    margin-left: 156px;
    padding: auto;
    width: 85px;
    height: 40px;
    color: #989898;
    background-color: #CFCFCF;
    border-radius: 8px;
    border: none;
    text-align: center;
}

/* Make Button "Start" able or disable */
.disabled {
    background-color: #CFCFCF;
    color: #989898;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
}

.enabled {
    background-color: #4E75FF;
    color: white;
    cursor: pointer;
    pointer-events: auto;
    opacity: 1; 
}

.start-btn:hover {
    background-color: #6C8CFF;
}

/* Input DateTime Picker */
#datetime-picker {
    margin-top: 36px;
    margin-left: 156px;
    padding: 8px 0 8px 16px;
    width: 272px;
    height: 40px;
    border-radius: 4px;
}


.timer {
    margin-left: 156px;
    width: 346px;
    height: 72px;
    display: inline-flex;
    gap: 24px;
}

.field {
    /* margin-left: 156px; */
    display: flex;
    flex-direction: column;
}

.value {
    font-size: 40px;
    color: #2E2F42;
}


