.feedback-form {
    display: flex;
    flex-direction: column;
    width: 408px;
    height: 296px;
    margin-right: auto;
    margin-left: auto;
    padding: 24px;
}


/* За замовчуванням input є рядковим елементом, який не успадковує сімейство шрифтів.  */
input {
    font-family: inherit;
    color: #808080;
}

input:hover {
    color: #000000;
}


label {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    color: #808080;
}

.feedback-form button {
    margin-top: 16px;
    width: 95px;
    padding: 8px 16px;
    color: #FFFFFF;
    background-color: #4E75FF;
    border: none;
    border-radius: 8px;
    text-align: center;
    opacity: 1;
}

/* 

fieldset {
    display: block;
    min-inline-size: min-content;
    margin-inline: 2px;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    padding-block: 0.35em 0.625em;
    padding-inline: 0.75em;
} 
    
legend {
    display: block;
    unicode-bidi: isolate;
    padding-inline: 2px;
}

input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
}



 */
