.feedback-form {
    display: flex;
    flex-direction: column;
    width: 408px;
    height: 296px;
    margin-right: auto;
    margin-left: auto;
    padding: 24px;
}


/* За замовчуванням input є рядковим елементом, який не успадковує сімейство шрифтів.  */
input {
    font-family: inherit;
    color: #808080;
}

input:hover {
    color: #000000;
}


label {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    color: #808080;
}

.feedback-form button {
    margin-top: 16px;
    width: 95px;
    padding: 8px 16px;
    color: #FFFFFF;
    background-color: #4E75FF;
    border: none;
    border-radius: 8px;
    text-align: center;
    opacity: 1;
}