.gallery {
    margin-right: auto;
    margin-left: auto;
    padding: 24px 156px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 1440px;
}

.gallery-item {
    width: calc((100% - 2 * 24px) / 3);
    aspect-ratio: calc(360/300);
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}